html, body {
    height: 100vh;
}

body {
    background-color: rgb(13, 223, 231);
}

.background_grid {
    display: grid;
    grid-template: 
    "one two three" 2fr 
    "four four four" 1fr
    "five five five" 1fr
    / 1fr 1fr 1fr ;
    margin: 2em;
    height: 50vh;
    background: linear-gradient( skyblue, tan);
    border-radius: 2rem;
    z-index: 1;
}

.block2 {
    grid-area: two;
    place-self: center stretch;
    height: 50px;
    width: 100px;
    background-color: rgb(250, 250, 247);
    border-radius: 50%;
}

.block3{
    grid-area: three;
    justify-self: end;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: linear-gradient(red, orange);
}

.block4 {
    grid-area: four;
    background: linear-gradient(lightblue, rgb(11, 93, 255));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    z-index: 2;
}

.five {
    grid-area: five;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    z-index: 10;
    background-color: sandybrown;
}

#beach-ball {
    grid-column: 3;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient(to left top, rgb(19, 84, 45), rgb(18, 104, 169));
    border-color: aliceblue;
    z-index: 1;
}

#beach-towel {
    grid-column: 2;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 30px;
    background-color: rgb(255, 0, 153);
    z-index: 10;
    transform: rotate(-65deg);
}

.infoNames {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(to left top, black, blue);
    border-radius: 2rem 0;
    margin: 0 2rem;
}

label, .submit_btn {
    display: flex;
    flex-direction: row;
    
}

.overlay-1 {
    grid-area: one;
    justify-self: center;
    z-index: 10;
}

#plane {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.overlay-2 {
    grid-area: four;
    grid-column: 3;
    z-index: 3;
}

.overlay-2 > img {
    width: 100px;
    height: 100px;

}

.overlay-3 {
    grid-row-start: 4;
    grid-row-end: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    z-index: 100;
}

.overlay-3 > img {
    object-fit: contain;
    width: 150px;
    height: 100%;

}

@media screen and (max-width: 1024px){
    body {
        background-color: grey;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: green;
    }
}
